<!-- One way binding (Du TS à HTML, à sens unique)  -->
<label>{{ test }}</label>
<br/>

<!-- Input binding (Du TS à HTML, à sens unique) -->
<input [value]="test" />
<br/><br/>

<!-- Double binding (TS <-> HTML, double sens) -->
<!-- Va aller modifier la variable test dans le controller/composant -->
<input [(ngModel)]="test"/>
<br/><br/>

<form [formGroup]="formationFormGroup">
  <div>
    Title: <input type="text" formControlName="title"/>
  </div>
  <div>
    Description: <input type="text" formControlName="description"/>
  </div>
  <div>
    Date debut: <input type="text" formControlName="startDate"/>
  </div>
  <div>
    Date fin: <input type="text" formControlName="endDate"/>
  </div>
  <div>
    <button (click)="saveFormation()">Enregistrer</button>
  </div>
</form>
