<!-- One way binding (Du TS à HTML, à sens unique)  -->
<label>{{ test }}</label>
<br/>

<!-- Input binding (Du TS à HTML, à sens unique) -->
<input [value]="test" />
<br/><br/>

<!-- Double binding (TS <-> HTML, double sens) -->
<!-- Va aller modifier la variable test dans le controller/composant -->
<input [(ngModel)]="test"/>

<div>
  <div>
    Title: <input type="text" />
  </div>
  <div>
    Description: <input type="text" />
  </div>
  <div>
    Date debut: <input type="text" />
  </div>
  <div>
    Date fin: <input type="text" />
  </div>
  <div>
    <button>Enregistrer</button>
  </div>
</div>
